src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:marvel="http://www.mulesoft.org/schema/mule/marvel"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/marvel http://www.mulesoft.org/schema/mule/marvel/current/mule-marvel.xsd">

	<context:property-placeholder location="automation-credentials.properties" />

	<marvel:config-type publicKey="${marvel.publicKey}"
		privateKey="${marvel.privateKey}" name="Marvel" doc:name="Marvel" />

	<flow name="get-characters" >
		<set-payload value="#[[:]]" doc:name="Set Payload" />
        <marvel:get config-ref="Marvel" key="character" fetchSize="#[flowVars.fetchSize]" doc:name="Marvel"/>
	</flow>
	
	<flow name="get-comic" >
		<set-payload value="#[[:]]" doc:name="Set Payload" />
        <marvel:get-single config-ref="Marvel" key="comic" id="#[flowVars.id]" doc:name="Marvel"/>
	</flow>
</mule>
